*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}

.container{
    width:350px;
}

.form{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.form h1{
    text-align:center;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

input{
    width:100%;
    padding:12px;
    border:2px solid #ddd;
    border-radius:8px;
    outline:none;
    font-size:16px;
    transition:.3s;
}

input:focus{
    border-color:#4f46e5;
}

small{
    display:block;
    margin-top:6px;
    font-size:13px;
    min-height:18px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#4f46e5;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#4338ca;
}

#resultMsg{
    text-align: center;
    padding-top: 24px;
}